*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
  
body{
  font-family: 'Open Sans', sans-serif;
  background:#e2e2e2;
}

.container{
  position:relative;
  top:50px;
  left:35%;
  display:block;
  margin-bottom:50px;
  width:500px;
  height:700px;
  background:#fff;
  border: 1px solid #e67e22;
  border-radius:5px;
  box-shadow: 5px 10px #c3c3c3;
  overflow:hidden;
  z-index:1;
}

h2{
  width: 200px;
  margin: 30px auto;
  text-align: center;
  font-weight:lighter;
  text-transform:uppercase;
  color:#414141;
  border-bottom: 1px solid #e67e22;
  padding-bottom: 8px;
}
  
input {
  display: block;
  height: 50px;
  width: 90%;
  margin: 0 auto 12px auto;
  border: none;
  padding: 25px 0 0 0;
}
  
input::placeholder {
  transform: translateY(0px);
  transition: 0.5s;
}
  
input:hover, input:focus, input:active:focus {
  color: #ff5722;
  outline: none;
  border-bottom: 1px solid #ff5722;
}
  
input:hover::placeholder, input:focus::placeholder, input:active:focus::placeholder {
    color: #ff5722;
    position: relative;
    transform: translateY(-20px);
}

.firstName,
.lastName,
.date,
.noOfTrucks{
  position:relative;
  z-index:1;
  border-bottom:1px solid rgba(0,0,0,.1);
  font-family: 'Open Sans', sans-serif;
  color:#858585;
  font-weight:lighter;
  font-size: 100%;
  transition:.5s;
}

label{
  display:inline-block;
  margin:25px 5% 0px 5%;
  font-size: 140%;
  color:black;
  font-weight:lighter;
  transition:.5s;
}

button {
  background: #e67e22;
  cursor: pointer;
  width: 250px;
  height: 60px;
  margin-top: 30px;
  margin-left: 125px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
  text-transform: uppercase;
  color: #fff;
  transition: 0.5s;
    
}

button:hover {
  background: #bf6516;
  transform: scale(1.1, 1.1);
}